@value colorBlue,colorPink, colorRed, colorYellow, colorWhite, colorLightBlue, colorLightGrey from '../../common/colors.css';
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 2em 0;
  margin: auto;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.search {
  width: 40vw;
  height: 50px;
  background-color: colorLightBlue;
  border: colorLightGrey;
  border-radius: 10px;
  padding: 1em;
}
.search:focus {
  border: 2px solid colorBlue;
  outline: none;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
  margin-right: 0.3em;
}

.button.like {
  color: colorRed;
}
.button.cart {
  color: colorBlue;
}

.cart_count {
  position: absolute;
  background-color: colorRed;
  color: colorWhite;
  padding: 0.1em 0.5em;
  margin-left: 5em;
  margin-bottom: 2em;
  border-radius: 50px;
}
