@value colorBlue,colorPink, colorRed, colorYellow, colorWhite, colorLightBlue, colorLightGrey from '../../common/colors.css';
.container {
  width: 70%;
  margin: auto;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}
.container::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, colorBlue, colorPink);
  border-image-slice: 1;
}

.logo {
  width: 170px;
  cursor: pointer;
  margin-right: 0.5em;
}

.search {
  width: 40vw;
  height: 40px;
  background-color: colorLightBlue;
  border: colorLightGrey;
  border-radius: 10px;
  padding: 1em;
}
.search:focus {
  border: 2px solid colorBlue;
  outline: none;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 0.3em;
}

.button.like {
  color: colorRed;
}
.button.cart {
  color: colorBlue;
}

.cart_count {
  position: absolute;
  background-color: colorRed;
  color: colorWhite;
  padding: 0.05em 0.4em;
  margin-left: 4.5em;
  margin-bottom: 2em;
  border-radius: 50px;
}
