@value colorBlue,colorPink, colorWhite, colorLightBlue, colorLightGrey from '../../common/colors.css';
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 20%;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.search {
  width: 600px;
  height: 45px;
  background-color: colorLightBlue;
  border: colorLightGrey;
  border-radius: 10px;
  padding: 1em;
}
.search:focus {
  border: 2px solid colorBlue;
  outline: none;
}
.button {
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.button.like {
  margin-right: 0.1em;
  color: colorPink;
}
