@value colorMajorGradient, colorWhite from "../../common/colors.css";

.main {
  background-image: url("../../../public/images/old-books-opacity.png");
  object-fit: cover;
  height: 80rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.titles {
  color: colorWhite;
  position: relative;
  top: 10%;
  left: 15%;
}
.book_list {
  width: 150em;
  display: flex;
  position: relative;
  top: 20%;
  left: -5%;
  flex-wrap: wrap;
}
.reviewAndFeedback {
  width: 70%;
  margin: 8em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .reviewAndFeedback {
    flex-direction: column;
  }
}
