@value colorMajorGradient, colorWhite from "../../common/colors.css";

.container {
}
.books {
  background-image: url("../../../public/images/old-books-opacity.png");
  height: 70rem;
  display: flex;
  flex-wrap: wrap;
}

.titles {
  color: colorWhite;
  padding: 2em 20%;
}

.reviewAndFeedback {
  padding: 5em 20%;
  display: flex;
  justify-content: space-between;
  background-image: colorMajorGradient;
}
