@value colorMajorGradient, colorRed, colorBlue, colorPink, colorLightGrey,colorGrey from '../../common/colors.css';
@value fontB from '../../common/fonts.css';

.container {
  height: 160px;
  padding: 1em;
  border: 3px solid colorLightGrey;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5em;
}

.click_scope {
  display: flex;
  cursor: pointer;
}

.img {
  max-width: 110px;
  min-width: 110px;
  height: 100%;
  object-fit: cover;
  border: 1px solid colorLightGrey;
  border-radius: 5px;
  margin-right: 0.5em;
}

.info {
  padding: 0.5em;
}

.info .title {
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 1em;
}

.controller {
  max-width: 160px;
  border-left: 3px solid transparent;
  border-image: colorMajorGradient;
  border-image-slice: 1;
  padding-left: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.priceAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count_buttons {
  margin-right: 1em;
}

.button {
  background-color: colorLightGrey;
  border: none;
  cursor: pointer;
}
.count {
  text-align: center;
}

.price {
  font-size: 25px;
  font-weight: bold;
}

.delete_btn {
  width: 100%;
  background-color: colorRed;
  font-family: fontB;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;

  padding: 0.1em 0.5em;
  cursor: pointer;
}
