.container {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.title {
  width: 70%;
  margin: 2em auto;
}
.content {
  flex: auto;
}

.like_container {
  width: 70%;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
  grid-gap: 60px;
}
