@value colorMajorGradient,colorGrey, colorWhite, colorYellow from '../../common/colors.css';
@value fontB from '../../common/fonts.css';
.container {
  width: 32em;
}
.smalltitle {
  color: colorGrey;
}

.survey {
  margin-top: 1em;
  padding: 2em;
  height: 30em;
  border-radius: 10px;
  background: colorMajorGradient;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.script {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}
.star_container {
}

.stars {
  color: colorGrey;
  font-size: 2em;
  text-align: center;
}
.input_container {
  text-align: center;
}

.textarea {
  resize: none;
  border: 2px solid colorWhite;
  border-radius: 10px;
  width: 450px;
  height: 15em;
  font-size: 1.08em;
  padding: 1em;
}

.textarea:focus {
  outline: none;
}
.button {
  width: 450px;
  padding: 0.5em 0;
  font-size: 1.5em;
  font-family: fontB;
  font-weight: bold;
  border: 2px solid colorWhite;
  border-radius: 10px;
  background-color: colorYellow;
  cursor: pointer;
}
