@value colorGrey from '../../common/colors.css';

.title {
  display: flex;
  align-items: center;
  position: relative;
  top: 7%;
  left: 15%;
  margin: 2em 0;
}

.keyword {
  font-size: 25px;
  color: colorGrey;
  margin-left: 1em;
}

.search_container {
  width: 70%;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 60px;
}
